---
const year = new Date().getFullYear();
---

<footer class="footer">
  <div class="footer-inner">
    <span>© {year} The Data Pipe</span>
    <a href="https://github.com/jipipes" class="nav-link" target="_blank" rel="noopener">GitHub</a>
  </div>
</footer>
